body{
     margin: 60px auto;
     width: 70%;
     }
nav ul, footer ul {
     foot-family:'Helvetica','Arial','Sana-Serif';
     padding:0px;
     list:style: none;
     font-weight: bold;
}     
nav ul li, footer ul li{
     display: inline;
     margin+right: 20px;
}
a{
     text-decoration: none;
     color: #999;
}
a:hover {
     text-decoration: ubderline;
}
h1 {
     font-sise: 3em;
     font-family:'Helvetica','Arial','Sana-Serif';
}
p {
   font-sise: 1.Sem;
   line-height: 1.4em;
   color:#333;
}
footer {
     border-top:1px solid #d5d5d5;
     font-sise: .8em;
}
ul.posts {
     margin:20px auto 40px;
     font-sise: 1.5em;
}
ul.posts {
     margin:20px auto 40px;
     font-sise: 2.5em;
}
ul.posts li {
     list-style:none;
     }
