<!DOCTYPE html>
<html>
     <head>
         <title> {{page.tittle}} </title>
         <link rel="stylesheet" type="text/css" href="/css/main.css">
     </head>
     <body>
            <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/about">Acerca de mi</a></li>
                <li><a href="/proyect">Proyecto</a></li>
                <li><a href="/tareas">Tareas</a></li>
            </ul>
            </nav>
            <div class="container">
            {{ content }}
            </div>
            </div>
            <footer>
            <ul>
                  <li><a href="mailto: a20172556@pucp.edu.pe">Correo Electronico</a></li>
                  <li><a href="https://github.com/zdaniel95z">github.com/zdaniel95z/</a></li>
                  </ul>
                  </footer>
      </body>
 </html> 
